################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Automation/packages
/Automation/Umbraco.Importer/bin/Debug
/Automation/Umbraco.Importer/obj/Debug
/Automation/.vs/Automation/v16
